/* Estilo general para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado del menú de navegación */
.navbar {
    background-color: #3498db;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilo para el contenedor principal */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.left, .right {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left h2, .right h2 {
    text-align: center;
    color: #3498db;
}

/* Estilo para los formularios */
form {
    text-align: left;
    margin-top: 10px;
}

label, input {
    display: block;
    margin: 10px 0;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #297fb8;
}

/* Estilo para el botón "Recuérdame" */
.form-check {
    margin-top: 10px;
    text-align: left;
}

/* Estilo para los mensajes de error (aún no están en el HTML proporcionado) */
#error-message {
    color: red;
}
