/* Estilo de el contenido */
body {
    font-family: Arial, Helvetica, sans-serif; /* Fuente de letra */
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

/* Estilo de el contenedor donde ponemos i creamos los valores de el formulario*/
.contenedor{
    width: 100%; 
    padding: 40px; /* tamaño de el contenedor (largo) (ancho), donde ponemos los iconos i los valores */
}

/* Estilo de el formulario entero (con el titulo i la frase que ponemos para ir al otro) */
.formulario{
    background: white; /* Color de el formulario*/
    margin-top: 300px;
    padding: 3px;
}

/*  Estilo del titulo */
h1{
    text-align: center; /* Lo centramos */
    color: #1a2537; /* Color de el titulo */
    font-size: 40px; /* Tamaño de el titulo */
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
/* iconos de los formularios (llave, correo...) */
.icon{
    min-width: 50px; /* */
    text-align: center; /* Alineamos los iconos en el centro (entre la frase pidiendo los valores i el principio de el contenedor)*/
    color: #999; /* Color de los iconos */
}

/*boton de login/registro */
.button{
    border: none;
    width: 100%;
    color: black; /* color de la letra */
    font-size: 20px; /* tamaño de la letra */
    background:  #fcf8ad; /* color de el boton */
    padding: 15px 40px; /* tamaño de el boton (largo) (ancho) */
    border-radius: 5px;
}

/* cuando pasas por encima del boton de login/registro cambia de color */
.button:hover{
    background: black; /* Color de el fondo */
    color: white; /* Color de la letra */
}

/* Estilos de la etiqueta p (frases) */
p{
    text-align: center; /* Lo centramos*/
}

/* estilo de el link de la frase que ponemos si ya tiene una cuenta o quiere registrarse */
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

/* cuando pasemos por encima del link cambiara de color */
.link:hover{ 
     color: cadetblue;
}

/* estilo para poner el formulario en el medio i los campos tambien */
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;/* ancho de los campos */
        margin-top: 150px; /* margen con el "techo" */
        border-radius: 2%;
    }
}

