/* Estilo de el contenido */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* Fuente de letra */
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

/* Estilo de el contenedor donde ponemos i creamos los valores de el formulario*/
.contenedor {
    width: 100%;

    /* tamaño de el contenedor (largo) (ancho), donde ponemos los iconos i los valores */
    padding: 40px;
}

/* Estilo de el formulario entero (con el titulo i la frase que ponemos para ir al otro) */
.formulario {
    /* Color de el formulario*/
    background: white;

    margin-top: 300px;
    padding: 3px;
}

/*  Estilo del titulo */
h1 {
    /* Lo centramos */
    text-align: center;

    /* Color de el titulo */
    color: black;

    /* Tamaño de el titulo */
    font-size: 40px;
}

h5 {
    /* Lo centramos */
    text-align: center;

    /* Color de el titulo */
    color: black;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

/* iconos de los formularios (llave, correo...) */
.icon {
    /* */
    min-width: 50px;

    /* Alineamos los iconos en el centro (entre la frase pidiendo los valores i el principio de el contenedor)*/
    text-align: center;

    /* Color de los iconos */
    color: #999;
}

/*boton de login/registro */
.button {
    border: none;
    width: 100%;

    /* color de la letra */
    color: black;

    /* tamaño de la letra */
    font-size: 20px;

    /* color de el boton */
    background: #fcf8ad;

    /* tamaño de el boton (largo) (ancho) */
    padding: 15px 40px;

    border-radius: 5px;
}

/* cuando pasas por encima del boton de login/registro cambia de color */
.button:hover {
    /* Color de el fondo */
    background: black;

    /* Color de la letra */
    color: white;
}

/* Estilos de la etiqueta p (frases) */
p {
    /* Lo centramos*/
    text-align: center;
}

/* estilo para poner el formulario en el medio i los campos tambien */
@media(min-width:768px) {
    .formulario {
        margin: auto;

        /* ancho de los campos */
        width: 500px;

        /* margen con el "techo" */
        margin-top: 150px;

        border-radius: 2%;
    }
}

.cookies{
    text-align: center;
}